.svg {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}
.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.textbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-smile{
    font-size: 15px;
    font-family: Arial, sans-serif;
}