<div class="container">  
    <p class="tutorial">
        How to play: <br>
        The goal of the game is to complete quests by making the depicted molecule to unlock more chemicals in the skilltree.
        You can combine any chemicals, choose 4 temperature ranges and after you unlock it, use light/uv and click cook to make reactions happen.
        When you are stuck, there is nothing wrong with looking up reactions.
    </p>

   <p class="info">This game was made by Henrik to have a Sandbox to try different ideas, while learning chemistry as well as offering 
        a unique challenge in discovering strange pathways to get to different chemicals; not governed by cost and yield, but the 
        limiting factor being not having any good reagents. Players need to get creative and work with what they have. <br>
        The system how reactions are getting added right now is me adding them manually. If you try to do a reaction that noone has attempted
        before in this game, this "pending reaction" gets saved and you will get the rewards later on, after I take a look and it and determine 
        the products. (If your reaction did not work you get nothing.)
    </p>

    <p class="philosophy-on-reactions">
        My philosophy regarding if a reaction works is as follows: <br>
        It does not really matter if a reaction has a horrendous yield as long
        as it is reasonably possible to isolate the products. A reaction may even have a good yield, but if it is impossible to seperate
        the product, the reaction yields nothing in this game. For example you can not just react sodium oxalate with sulfuric acid and 
        expect to get sodium sulfate and oxalic acid as I don't see a good way to seperate the two. <br>
        Another reason a reaction may not work in this game, even though it works in theory, is when the reaction time takes unreasonably long.
        (As a rule of thumb >1 month) For example you can not make iodine by just dissolving sodium iodide in water and waiting for oxygen
        to oxydize it. <br>
        Reactions don't implicitly have a reaction solvent. Adding "HCl" to a reaction is adding the gas, not hydrochloric acid. You can,
        just as an example, not convert CuO to CuCl<sub>2</sub> by reacting it with gasous HCl in meaningful amounts, only hydrochlorid 
        acid (HCl in water) can do that.
    </p>

    <p class="beta-disclaimer">This game is still in beta; bugs and the interface being ugly is expected. If you have experience in
        graphic design and want to support this website, please approach me, as I want to improve the look of this site overall and 
        add different styles for the website.
        (You can change style by double clicking the cooker, although as of now they are still placeholder textures.)
    </p>

    <p class="credits">Credits: <br>
    NO AI USED (*except github copilot autocomplete)<br>
    Idea - Taewon, Oliver<br>
    Name - Max<br>
    Technical Help - Chenpan</p>
    <br>
    The game is inpired by infinite craft.
</div> 