.flex-column {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

.action-space {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cooker {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.quest-and-skilltree-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.account-management-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name{
  margin: 10px 10px 0 0;
  font-weight: bold;
  font-size: large;
}