<div class="box" [style.filter]="!unlocked ? 'brightness(0.7)' : ''" (click)="unlockNode()" [mtxTooltip]="tooltipTemplate">
    <app-tiny-chemical [disableAnimation]="true" [smile]="self.chem_rewards[0]"
    *ngIf="self.chem_rewards.length > 0"></app-tiny-chemical>
    <mat-icon *ngIf="self.chem_rewards.length <= 0">star</mat-icon>
    <!-- add misc reward icon-->
</div>

<ng-template #tooltipTemplate>
    <div class="tooltip-content">
        <h3>{{ self.title }}</h3>
        <p>{{ self.description }}</p>
        <h4 *ngIf="self.chem_rewards.length > 0 || self.misc_rewards.length > 0">Unlocks:</h4>
        <div *ngIf="self.chem_rewards.length > 0">
            <ul>
                <div *ngFor="let chem of self.chem_rewards">
                    <app-tiny-chemical [smile]="chem" [disableAnimation]="true"></app-tiny-chemical>
                </div>
            </ul>
        </div>
        <div *ngIf="self.misc_rewards.length > 0">
            <ul>
                <div *ngFor="let misc of self.misc_rewards">
                    <img [src]="misc">
                </div>
            </ul>
        </div>
    </div>
</ng-template>