<div class="column">
    <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [formControl]="usernameFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [type]="'email'" [formControl]="emailFormControl" email/>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="'password'" [formControl]="passwordFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="'password'" [formControl]="confirmPasswordFormControl"/>
    </mat-form-field>


    <button mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
</div>