<div style="display: flex; flex-direction: column; gap: 50px; padding: 10px; align-items: center;">
    <div *ngIf="succesfulReactions.length > 0">
        <p>Succesful reactions</p>
        <div class="reaction" *ngFor="let reaction of succesfulReactions">
            <div class="inputs chemflex"><app-tiny-chemical [disableAnimation]="true" [smile]="input" *ngFor="let input of reaction.inputs"></app-tiny-chemical></div>
            <!-- reaktionspfeil mit conditions darüber-->
             <div class="reaction-arrow-and-conditions-flex">
                <p class="conditions">{{tempToString[reaction.temp]}}</p>
                <p class="arrow">&rarr;</p>
                <p class="conditions">{{reaction.uv ? "hv" : ""}}</p>
            </div>
            <div class="outputs chemflex">
                <app-tiny-chemical [disableAnimation]="true" [smile]="output.smile" *ngFor="let output of reaction.products_whighlighting"
                [style]="output.new ? newChemStyle : ''"></app-tiny-chemical>
            </div>
            <div class="chemflex">
                <app-quest [self]="quest" *ngFor="let quest of reaction.quest_selfs"></app-quest>
            </div>
            <!-- todo: test if display of quests works -->
        </div>
    </div>
    <div *ngIf="chemService.pendingReactions.length > 0">
        <p>Pending reactions</p>
        <div class="reaction" *ngFor="let reaction of chemService.pendingReactions">
            <div class="inputs chemflex"><app-tiny-chemical [disableAnimation]="true" [smile]="input" *ngFor="let input of reaction.inputs"></app-tiny-chemical></div>
            <!-- reaktionspfeil into fragezeichen-->
            <div class="reaction-arrow-and-conditions-flex">
                <p class="conditions">{{tempToString[reaction.temp]}}</p>
                <p class="arrow">&rarr;</p>
                <p class="conditions">{{reaction.uv ? "hv" : ""}}</p>
            </div>
            <mat-icon>question_mark</mat-icon>
        </div>
    </div>
    <div *ngIf="chemService.unsuccesfulPendingReactions.length > 0">
        <p>Unsuccesful reactions</p>
        <div class="reaction" *ngFor="let reaction of chemService.unsuccesfulPendingReactions">
            <div class="inputs chemflex"><app-tiny-chemical [disableAnimation]="true" [smile]="input" *ngFor="let input of reaction.inputs"></app-tiny-chemical></div>
            <!-- reaktionspfeil mit conditions drüber und rotem kreuz-->
             <div class="reaction-arrow-and-conditions-flex">
                <p class="conditions">{{tempToString[reaction.temp]}}</p>
                <p class="arrow">&rarr;</p>
                <p class="conditions">{{reaction.uv ? "hv" : ""}}</p>
            </div>
            <mat-icon style="color: red;">close</mat-icon>
        </div>
    </div>
</div>