.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.node{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hline{
    border-top:1px solid #000;
    flex-grow: 1;
    transform: translate(0, 50%);
}
.vline{
    border-left:1px solid #000;
    flex-grow: 1;
    transform: translate(50%, 0);
}
.skillpoint-display{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}