<drag-scroll style="width: 50vh; height: 50vh;">
    <div class="flex-column">
        <div class="flex-row" *ngFor="let y of range(-1, 10)">
            <div *ngFor="let x of range(-10, 10)">
                <app-skilltree-node [self]="getNodeFromPos(x, y)!" [unlocked]="unlockedSkilltreeNodes.includes(getNodeFromPos(x, y)!.id)"
                *ngIf="getNodeFromPos(x, y)" [centerOnLoad]="getNodeFromPos(x, y)!.id == unlockedSkilltreeNodes.at(-1)"></app-skilltree-node>
                <div [style.visibility]="'hidden'" style="width: 50px; height: 50px;"></div>
            </div>
        </div>
    </div>
</drag-scroll>